<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2016, 2017 Aaron Keesing

This file is part of CBR Chat Bot.

CBR Chat Bot is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CBR Chat Bot is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CBR Chat Bot.  If not, see <http://www.gnu.org/licenses/>.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <display-name>Chat Bot</display-name>
  <description>A web based chat bot.</description>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>agk.chatbot.web.MainServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>
</web-app>